.App {
  text-align: center;
}

#root {
  padding: 0 100px;
  display: flex;
  align-items: stretch;
}

svg {
  background-color: #f8f8f8;
  width: 100%;
}

.linechart svg,
.areachart svg {
  min-width: 750px !important;
  min-height: 320px !important;
}

.legend svg {
  height: 75px;
}

@media screen and (max-width: 1550px) {
  .legend svg {
    height: 250px;
  }
}

.legend-container {
  display: flex;
}

.legend-group-container {
  display: flex;
  display: block;
}

.information {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.information {
  text-align: left;
}

@media screen and (max-width: 989px) {
  #root {
    padding: 0;
  }
}

#tooltip {
  background-color: #f8f8f8;
  border: 1px solid #313131;
  padding: 5px;
}
